doctype html
html
  head
    title.title=status
    link(rel='stylesheet', href='./stylesheets/style.css')
    
  body.body
    p.message #{message}
    link(rel='stylesheet', href='./stylesheets/style.css')
